@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

body { 
  margin: 0;
  height: 100%;
  font-family: Poppins, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #2581F7;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 10px;
  border-radius: 4px;
  margin: 0px 10px;
}

.header img.logo {
  height: 45px;
  margin-left: 25px;
}

.header a:hover {
  color: rgb(255, 255, 255);
}

.header a.login {
  background-color: #FF5E19;
  color: white;
  width: 100px;
  border-radius: 50px;
}

.header a.login:hover {
  background-color: #ff7033;
}

.header a.register {
  background-color: #ffffff;
  color: rgb(37, 37, 37);
  width: 100px;
  border-radius: 50px;
}

.header a.register:hover {
  background-color: #f1f1f1;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.main-slide {
  display: flex;
  align-items: center;
  padding: 0px 100px;
  margin: -25px 0px 0px 0px;
  background: linear-gradient(180.39deg, #2581F7 18%, #7FBCF3 92.04%);
  height: 635px;
}

.main-title {
  color: white;
  width: 80%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
}

.main-text {
  width: 70%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.main-btn {
  float: left;
  background-color: white;
  color: rgb(37, 37, 37);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 20px;
  border-radius: 50px;
  margin: 30px 10px 0px 10px;
  width: 120px;
}

.main-btn:hover {
  background-color: #f1f1f1;
}

.profile-section {
  background: rgba(51, 138, 247, 0.05);
  padding: 20px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-section {
  color: #01BABC;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

.profile-cards {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0px 30px;
  filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.068));
}

.card-profile-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #F0B35B;
}

.studant {
  color: #30CFD0;
}

.img-div {
  height: 170px;
}

.profile-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #7B7B7B;
  text-align: justify;
  padding: 20px 30px 50px 30px;
}

.profile-btn {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  width: 100%;
  text-align: center;
  color: white;
  border: none;
  background: linear-gradient(180deg, #F0B35B 0%, #FF6B00 100%);
  border-radius: 0px 0px 30px 30px;
  height: 50px;
}

.tech-path-section {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}
.separator {
  background:#FF5E19;
  margin-bottom: 70px;
  width: 127px;
  height: 7px;
}

.tech-path-fases {
  display: flex;
  justify-content: space-around;
  width: 897px
}

.title-fases {
  margin-bottom: 20px;
}

.firts-step {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #01BABC;
}

.second-step {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #F0B35B;
}

.third-step {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #DC653F;
}

.fourth-step {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #263238;;
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 150px;
  background-color: #263238 ;
}

.logo-footer {
  margin-left: 30px;
  margin-right: 30px;
}


.footer-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: white;
}