@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

body { 
  margin: 0;
  font-family: Poppins, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #2581F7;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 10px;
  border-radius: 4px;
  margin: 0px 10px;
}

.header img.logo {
  width: 30px;
  margin-left: 25px;
}

.header a:hover {
  color: rgb(255, 255, 255);
}

.header a.login {
  background-color: #FF5E19;
  color: white;
  width: 100px;
  border-radius: 50px;
}

.header a.login:hover {
  background-color: #ff7033;
}

.header a.register {
  background-color: #ffffff;
  color: rgb(37, 37, 37);
  width: 100px;
  border-radius: 50px;
}

.header a.register:hover {
  background-color: #f1f1f1;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.main-slide {
  display: flex;
  align-items: center;
  padding: 0px 100px;
  margin: -25px 0px 0px 0px;
  background: linear-gradient(180.39deg, #2581F7 18%, #7FBCF3 92.04%);
  height: 635px;
}

.main-title {
  color: white;
  width: 80%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
}

.main-text {
  width: 70%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.main-btn {
  float: left;
  background-color: white;
  color: rgb(37, 37, 37);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 20px;
  border-radius: 50px;
  margin: 0px 10px;
  width: 120px;
}

.main-btn:hover {
  background-color: #f1f1f1;
}